#highestBox {
    background-color: lightgreen;
    border: black solid 2px;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 12px;
    padding-top: 12px;
    padding-bottom: 36px;
    padding-left: 24px;
    line-height: 0%;
    font-weight: 600;
    font-size: x-large;
}

.bar {
    margin-left: 16px;
    margin-bottom: 16px;
}

#clear {
    margin-bottom: 12px;
}

#bidHistory {
    background-color: lightyellow;
    border: black solid 2px;
    width: 250px;
    padding: 12px;
}