body {
    background: #98c28c;
}

img {
    width: 300px;
}

#display {
    display: flex;
    justify-content: center;
}

#pokemon-name {
    text-align: center;
    font-size: 33px;
}

#left {
    margin-right: 175px;
}

p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#details, #stats {
    margin-top: 15px;
}

.bar {
    margin: 15px;
}

button {
    background-color: #1e6d08;
    color: #ffffff;
    padding: 6px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}