img {
    width: 300px;
}

#display {
    display: flex;
    justify-content: center;
}

#pokemon-name {
    text-align: center;
}

#left {
    margin-right: 175px;
}

p {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#details, #stats {
    margin-top: 15px;
}